//MY THEME COLORS
$purple-dark:  #1B0E2C;
$purple: #40227A;

.navbar-brand img {
  max-width: 50px;
}


// WHITE AND GRAY COLORS
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $purple-dark;
$secondary:     $purple;

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";
