@use 'custom';

// IMPORT THE COMPONENTS
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// IMPORT THE SECTIONS
@use 'sections/navbar';
@use 'sections/hero-section';
@use 'sections/about-section';
@use 'sections/projects-section';
@use 'sections/skills_section';
@use 'sections/certifications_section';
@use 'sections/footer';