@use '../custom' as *;
@use '../components/mixins' as *;

.about-section {
    @include gradient;
    padding: 2rem 0;

    .about-img {
        
        img{
            margin-left: 80px;
            width: 500px;
        }
    }
}