@use '../custom' as *;
@use '../components/mixins' as *;

.about-section {
    @include gradient;
    padding: 2rem 0;

    .about-img {
        
        img{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: .6s;
        }

        img:hover {
            transform: scale(1.02);
        }
        
        @media (max-width: 768px) {
            margin: 1rem auto;
            text-align: center !important;
            max-width: 500px;
        }
    }

        
}