@use '../custom' as *;
@use '../components/mixins' as *;

.about-section {
    @include gradient;
    padding: 2rem 0;

    .about-img {
        
        img{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
        
        @media (max-width: 768px) {
            margin: 1rem auto;
            text-align: center !important;
            max-width: 500px;
        }
    }

        
}