@use '../custom' as *;
@use '../components/mixins' as *;

.certifications-section {
    background-color: $black;
    padding: 3rem 0 0 0;

    .link-text:hover {
        color: $purple-light;
    }

    .carousel-inner {
        min-height: 340px; 


        .carousel-item img {
            max-height: 250px;
            object-fit: contain;
            display: block; 
            margin: auto;
            transition: .6s;
        }

        .carousel-item img:hover {
            transform: scale(1.02);
        }

    }
}
