@use '../custom' as *;
@use '../components/mixins' as *;

.certifications-section {
    background-color: $black;
    padding: 2rem 0;

    a:hover {
            color: $purple-light;
        }

    .carousel-inner {
        min-height: 450px; 

        .carousel-item img {
            max-height: 400px;
            object-fit: contain;
            display: block; 
            margin: auto;
            transition: .6s;
        }

        .carousel-item img:hover {
            transform: scale(1.02);
        }

    }
}
