@use '../custom' as *;
@use '../components/mixins' as *;

.certifications-section {
    background-color: black;
    padding: 2rem 0;

    .about-img {
        
        img{
            margin-left: 80px;
            width: 500px;
        }
    }
}