@use '../custom' as *;
@use '../components/mixins' as *;


.footer {
    background: black;
    padding: 2rem 0;

    .footer-column {
        margin-bottom: 1.5rem;
    }

    .navbar-nav .nav-item {
        margin-bottom: 1rem;
        
        &:first-child {
            margin-top: 0.7rem;
        }
    }

    .impressum {
        font-size: 12px;
        margin: auto;

        a:hover {
            color: $purple-light;
        }
    }
}