@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 5rem 0;
    width: 100%;
    height: 100%;
}

.intros {

    .img-box {
        position: relative;
        width: 28rem;
        height: 28rem;
        left: 15%;

        .img-fluid {
            border-radius: 500px;
            max-width: 100%;
            height: auto;
        }
    }

    .social-icon {
        margin-left: 0.7em;
    }

    @media (max-width: 768px) {
    
        .intro-section .img-box {
            text-align: center !important;
        }

        .intro-section .img-box img {
            max-width: 60%;
            height: auto;   
            display: block;
            margin: 0 auto;
        }
    }
}