@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 5rem 0;
    width: 100%;
    height: 100%;
}

.intros {

    .img-box {
        margin: auto;
        width: 28rem;
        height: 28rem;

        @media (max-width: 768px) {
            text-align: center !important;
            max-width: 90%;
        }

        .img-fluid {
            border-radius: 500px;
            max-width: 100%;
            height: auto;

            @media (max-width: 768px) {
            text-align: center !important;
            margin: auto;
        }
        }
    }

    
    

    .social-icon {
        margin-left: 0.7em;
    }



}