@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 5rem 0;
    width: 100%;
    height: 100%;
}

.intros {

    .img-box {
        margin: auto;
        width: 28rem;

        @media (max-width: 768px) {
            margin-top: 1.25rem;
            max-width: 95%;
        }

        .img-fluid {
            border-radius: 500px;
            max-width: 100%;
            height: auto;
        }
    }

    .social-icon {
        margin-left: 0.7em;
    }

    a {
        text-decoration: none;

    }

}