@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
    @include gradient;
    padding: 5rem 0;
    width: 100%;
    height: 100%;
}

.intros {

    .img-box {
        position: relative;
        width: 28rem;
        height: 28rem;
        left: 15%;

        img {
            border-radius: 500px;
        }
    }
}