@use '../custom' as *;
@use '../components/mixins' as *;

:root {
  scroll-padding-top: 70px;
}

.menu {
    @include gradient;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 1s;

    .flag {
        width: 1.3rem;
        margin-left: 1rem;
        border-radius: 2px;
    }

    @media (max-width: 768px) {
        .navbar-nav .nav-item {
            margin-bottom: 1rem; 

            &:first-child {
                margin-top: 0.7rem;
            }
        }

        a {
            text-decoration: none;
        }
    }

}

.navbar-nav .nav-item .nav-link {
    display: inline;
}

.navbar-toggler {
    border: none;
}

.scrolled {
    box-shadow: 0 0.94em 1em -0.5em rgba(0, 0, 0, 0.2);
}



