@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;
    position: sticky;
    top: 0;
    z-index: 10;

    

    .flag {
        width: 1.3rem;
        margin-left: 1rem;
        border-radius: 2px;
    }

}

.navbar-toggler {
    border: none;
}

.scrolled {
    box-shadow: 0 0.94em 1em -0.5em rgba(0, 0, 0, 0.2);
    transition: 1000ms;
}



