@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;
    position: sticky;
    top: 0;
    z-index: 9999;

    li {
        padding: 0 0.7rem;
        
        a {
            color: $white !important;
            text-transform: capitalize;
            transition: all .6s ease;

        }

        &:hover {
        transform: translateY(-4px);
    }
    }


}

.navbar-toggler {
    border: none;
}

.scrolled {
    box-shadow: 0 0.94em 1em -0.5em rgba(0, 0, 0, 0.2);
    transition: 1000ms;
}



