@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;
    position: sticky;
    top: 0;
    z-index: 9999;

    li {
        padding: 0 0.7rem;
        
        a {
            color: $white !important;
            text-transform: capitalize;
        }
    }
}

.navbar-toggler {
    border: none;
}

