@use '../custom' as *;
@use '../components/mixins' as *;

.projects-section {
    background: black;
    padding: 2rem 0;

    .card {
        @include gradient;
        margin: 1rem 1.5rem;
        width: 35rem;
        height: 30rem;
        color: $white;
        transition: .6s;
        
        .card-img-top {
            
        }

        .card-body {
            height: 50;

            .btn-rounded {

                .btn-icon {
                    margin-right: 0.5rem;
                }

            }

            
        }
    }

    .card:hover {
    transform: scale(1.02);

    }
}