@use '../custom' as *;
@use '../components/mixins' as *;

.projects-section {
    background: black;
    padding: 2rem 0;

    .link-text:hover {
        color: $purple-light;
    }

    .card {
        @include gradient;
        margin: 1rem 1.5rem;
        width: 35rem;
        height: 30rem;
        color: $white;
        transition: .6s;
        
        .card-img-top {
            max-height: 250px;
        }

        .card-body {
            //height: 50;

            .btn-rounded {

                .btn-icon {
                    margin-right: 0.5rem;
                }
                
            }
        }

        @media (max-width: 768px) {
            max-width: 95%;
        }
    }

    .card:hover {
    transform: scale(1.02);
    }
}