@use '../custom' as *;
@use '../components/mixins' as *;

.skills-section {
    @include gradient;
    padding: 2rem 0;
}

.cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card {
  position: relative;
  width: 120px;
  height: 120px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 15px 25px;
  backdrop-filter: blur(10px);
  transition: .6s;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.container .skill-card::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.skill-card svg {
  font-size: 1em;
  fill: #fff;
  padding-bottom: 1em;
}

.skill-icon {
  width: 55px;
  margin-bottom: 35px;
  font-size: 64px;


  .java {
    width: 180px;
    height: 180px;
  }
}
