@use '../custom' as *;
@use '../components/mixins' as *;

.skills-section {
    background: black;
    padding: 5rem 0 0 0;
    width: 100%;
    height: 100%;
}

.skill-card {
    background: rgb(11, 7, 7);
    margin-right: 10px;
    padding: 1rem;
    border-radius: 16px;
    width: 180px;
    height: 180px;

    .card-icon {
        width: 60%;
        margin-bottom: 1rem;
    }
}