@use '../custom' as *;
@use '../components/mixins' as *;

.skills-section {
    @include gradient;
    padding: 5rem 0 0 0;
    width: 100%;
    height: 100%;
}

.skill-card {
    background: rgb(11, 7, 7);
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
    width: 11.25rem;
    height: 11.25rem;

    .card-body {
        .skill-icon-container {
            color: white;
            width: 4rem;
            height: 4rem;
            border: 1px solid red;   
            margin: 1rem auto;         

            .skill-icon {
                font-size: 7rem;
            }
        }

        .skill-text {
            text-align: center;
            top: 100%;
            font-weight: 700;
        }

    }
}