@use '../custom' as *;
@use '../components/mixins' as *;

// body {
//     border: 1px solid red;
// }

.btn-rounded {
    position: relative;
    padding: 0.275rem 1.25rem;
    font-weight: 600;
    margin: 0 0.25rem 0.25rem 0;
    border: none;
    color: $white;
    background: $light;
    justify-content: start;
    align-items: center;
    transition: all .6s ease;


    span {
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 20px;
        border-radius: 50%;


        i {
            color: $white;
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }

    &:hover {
        transform: translateY(-6px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    }
}