@use '../custom' as *;
@use '../components/mixins' as *;

.card {
    
    .btn-rounded {

        span {
           margin-right: 5px;
        }

        @media (max-width: 768px) {
            margin-bottom: 32px;
        }
    }
}

