@use '../custom' as *;

body {
    font-family: 'Roboto', 'sans-serif';
}

.display-2 {
    margin-bottom: 1rem;

    &--intro {
        display: inline-block;
        font-weight: 700;
        text-transform: capitalize;
    }

    &--description {
        font-size: 1.3rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
    }
}

i {
    color: $white;
    text-decoration: none;
}

a {
    color: $white;
}

// NAVIGATION LINKS

li {
    padding: 0 0.7rem;

    a {
        color: $white !important;
        text-transform: capitalize;
        display: inline-block;
        position: relative;
        padding-bottom: 1px;
    }

    a:before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: bottom right;
        background: currentColor;
        transition: transform 0.3s ease-out;
    }

    a:hover:before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}